:root {
--background-color-dark: #2E2F42;
--background-color-white: #fff;
--logo-color-web: #4D5AE5;
--background-color-team: #F4F4FD;
--text-color-main: #434455;
--text-color-headline: #2E2F42; 
--link-color-active: #404BBF; 
--button-color-filter: #F4F4FD;
--text-color-light: #F4F4FD;
--text-color-white: #fff;
--button-filer-text: #4D5AE5;
}

body {
color: var(--text-color-main);
font-family: 'Roboto', sans-serif;
font-weight: 400;
line-height: 1.5;
font-size: 16px;
background-color: var(--background-color-white);
}
.header-section {
    font-family: "Raleway", "Roboto", sans-serif;
}
.navigation {
    font-family: "Roboto" ;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #2E2F42;
        text-decoration: none;
}
.address {
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #434455;
            text-decoration: none;
}
.hero-section {
    background-color: #2E2F42;
}
.hero-section .hero-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        letter-spacing: 0.02em;
        color: white;
}
.button-hero {
    background: #4D5AE5;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.04em;
            color: #FFFFFF;
}
.button-hero:hover,
.button-hero:focus {
    background: #404BBF;
}
.what-are-we-doing-list .title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.what-are-we-doing-list .text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}
        .img-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}
.section-title {
    position: absolute;
        width: 162px;
        height: 40px;
        left: 639px;
        top: 1668px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}
.staff-list .title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.staff-list .text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}
.staff-section {
        background: #F4F4FD;
}
.footer {
    background: #2E2F42;
}
.link {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        text-decoration: none;
}
.studio-dark {
        font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #2E2F42;
}
.studio-bright {
            font-family: 'Raleway';
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #F4F4FD;
}
.footer .text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.staff-item {
    background-color: #FFFFFF;
}
.header-list {
    list-style: none;
}
.address-list {
    list-style: none;
}
.what-are-we-doing-list {
    list-style: none;
}
.images-list {
    list-style: none;
}
.staff-list {
    list-style: none;
}