.body {
    background-color: white;
}
.header-section {
    font-family: "Raleway", "Roboto", sans-serif;
}
.navigation {
    font-family: "Roboto" ;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #2E2F42;
}
.address {
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #434455;
}
.hero-section {
    background-color: #2E2F42;
}
.hero-section .hero-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        letter-spacing: 0.02em;
        color: white;
}
.button-hero {
    background: #4D5AE5;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.04em;
            color: #FFFFFF;
}
.button-hero:hover,
.button-hero:focus {
    background: #404BBF;
}
.what-are-we-doing-list .title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.what-are-we-doing-list .text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}
        .img-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}
.section-title {
    position: absolute;
        width: 162px;
        height: 40px;
        left: 639px;
        top: 1668px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}
.staff-list .title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.staff-list .text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}
.staff-section {
        background: #F4F4FD;
}
.footer {
    background: #2E2F42;
}
.footer .text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}
.link {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
.studio-dark {
        font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #2E2F42;
}
.studio-bright {
            font-family: 'Raleway';
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #F4F4FD;
}
